.app {
  overflow: hidden;
}

.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-left: 12px;
  margin-right: 12px;
}

.navbar-list {
  list-style: none;
  padding-left: 0;
  margin: 8px 0 0 0;
  display: flex;
}

.navbar-item--no-pointer,
.navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}

.navbar-item--no-pointer,
.navbar-item-link,
.navbar-item {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  font-weight: 300;
  text-decoration: none;
}

.navbar-item--no-pointer,
.navbar-item-link,
.navbar-item,
.navbar-icon-link,
.navbar-list {
  display: inline-flex;
  align-items: center;
}

.navbar-icon-link:hover,
.navbar-item-link:hover,
.navbar-item:hover {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  z-index: 3;
}

.has-attribute:hover .header__qr,
.has-attribute:hover .navbar-noti {
  display: block;
}

.navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}
.navbar-item--bold {
  font-weight: 500;
}

.navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid var(--white-color);
  opacity: 0.8;
  height: 16px;
  top: 50%;
  right: -9px;
  transform: translateY(-50%);
}

.ti-icon {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0 5px;
}

.navbar-item--no-pointer {
  cursor: text;
}

.navbar-item-user {
  display: flex;
  justify-content: center;
}

.navbar-item-user:hover .user-menu {
  display: block;
}

.user-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.user-name {
  margin-left: 4px;
  font-size: 1.4rem;
  font-weight: 400;
}

.user-menu {
  position: absolute;
  z-index: 1;
  padding: 4px 0px;
  top: 125%;
  right: 0;
  background-color: var(--white-color);
  border-radius: 2px;
  width: 160px;
  list-style: none;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
  display: none;
}

.user-item--separate {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.user-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.user-item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.user-item a {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
  padding: 8px 16px;
}

.user-item a:hover {
  background-color: #f7f7f7;
  font-weight: 450;
}

/*Header QR Code*/
.header__qr {
  background-color: var(--white-color);
  width: 186px;
  position: absolute;
  top: 125%;
  left: 0;
  padding: 8px;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease 0.5s;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.qr-code {
  width: 100%;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
}

.qr-app-img {
  height: 16px;
}

.qr-app-img:nth-child(1) {
  margin-left: 11px;
  margin-top: 1px;
}

.qr-app-img:nth-child(2) {
  margin-right: 11px;
}

/*Notification*/
.navbar-noti {
  position: absolute;
  background-color: var(--white-color);
  width: 404px;
  top: 125%;
  right: 0;
  border: 1px solid #d3d3d3;
  cursor: default;
  transform-origin: calc(100% - 32px) top;
  animation: notiShow ease 0.2s;
  will-change: opacity, transform;
  display: none;
  border-radius: 2px;
}

/* Pseudo top arrow */
.user-menu::after,
.search-cart-list::after,
.navbar-noti::after {
  content: "";
  border-width: 20px 26px;
  border-style: solid;
  position: absolute;
  border-color: transparent transparent var(--white-color) transparent;
  top: -29px;
  right: 12px;
  cursor: pointer;
}

@keyframes notiShow {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Pseudo element */

.user-menu::before,
.search-select-option::before,
.navbar-noti::before,
.header__qr::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 32px;
  top: -25px;
  left: 0;
  display: block;
}

.noti-header {
  height: 40px;
}

.noti-header h3 {
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
  margin: 0 0 0 12px;
  line-height: 40px;
}

.noti-list {
  padding-left: 0;
}

.noti-item {
  display: flex;
}

.noti-item:hover {
  background-color: #f7f7f7;
}

.noti-item-viewed {
  background-color: rgba(238, 77, 45, 0.09);
}

.noti-item-link {
  display: flex;
  padding: 12px;
  text-decoration: none;
}

.noti-item-img {
  width: 48px;
  object-fit: contain;
}

.noti-item-info {
  margin-left: 12px;
}

.noti-item-name {
  display: block;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

.noti-item-desc {
  display: block;
  color: #756f6e;
  font-size: 1.3rem;
  line-height: 1.6rem;
  margin-top: 4px;
}

.noti-footer {
  display: flex;
}
.noti-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  padding: 8px 48px;
  margin: auto;
  font-size: 1.4rem;
  font-weight: 400;
}

.noti-footer-btn:hover {
  opacity: 0.8;
}

/* Authen modal */
.modal-auth {
  width: 500px;
}
.auth__container {
  padding: 8px 32px;
}

.auth__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

.auth__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth__switch-btn {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-color);
  cursor: pointer;
}

.auth__form-input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  color: var(--text-color);
  border: 1px solid #d7d7d7;
  border-radius: 2px;
}

.auth__note {
  margin-top: 18px;
}

.auth__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding: 0 12px;
  text-align: center;
}

.auth__policy-link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
}

.auth__control {
  display: flex;
  justify-content: flex-end;
  margin-top: 70px;
}

.btn-back {
  margin-right: 8px;
}

.btn-back:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

/* Connect socials */
.auth__connect {
  padding: 10px 36px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.ti-icon {
  font-size: 1.8rem;
}

.btn--icon.btn--icon-facebook {
  background-color: #3a5a98;
  color: var(--white-color);
}

.btn-title {
  padding: 24px;
}

.btn--icon.btn--icon-google {
  color: var(--text-color);
}

.auth__help {
  display: flex;
  justify-content: flex-end;
  margin-top: 18px;
}

.auth__help-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #999;
}

.auth__help--forgot {
  color: var(--primary-color);
  font-weight: 500;
  margin-right: 24px;
}

/* Search */
.search {
  height: var(--search-height);
  display: flex;
  align-items: center;
  padding: 0 8px;
  margin-left: 12px;
  margin-right: 12px;
}

.search-logo {
  width: 200px;
}

.search-logo-link {
  color: transparent;
  text-decoration: none;
  display: block;
  line-height: 0;
}

.search-logo-img {
  width: 150px;
}

.search-body {
  flex: 1;
  height: 40px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  border-radius: 2px;
}

.search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
  z-index: 2;
}

.search-input {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  color: var(--text-color);
  border: none;
  outline: none;
  padding: 0 16px;
  border-radius: 2px;
}

.search-select {
  border-left: 1px solid #ccc;
  padding-left: 16px;
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.search-select:hover .search-select-option {
  display: block;
}

.search-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.search-select-icon {
  font-size: 1.4rem;
  color: #777;
  margin: 0 16px 0 8px;
  position: relative;
  top: 1px;
}

.search-btn {
  background-color: var(--primary-color);
  height: 36px;
  width: 60px;
  outline: none;
  border: none;
  margin-right: 2px;
  border-radius: 2px;
}

.search-btn:hover {
  background-color: #fb6445;
  cursor: pointer;
}

.search-btn-icon {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--white-color);
}

.search-cart {
  width: 150px;
  text-align: center;
  position: relative;
  z-index: 3;
}

.search-cart-icon {
  font-size: 2.6rem;
  font-weight: 500;
  color: var(--white-color);
}

.search-cart-num {
  position: absolute;
  padding: 1px 7px;
  background-color: var(--white-color);
  color: var(--primary-color);
  font-size: 1.4rem;
  line-height: 1.6rem;
  border-radius: 10px;
  border: 2px solid #ee4d2d;
  top: -4px;
  right: 46px;
}

.search-cart-wrap {
  padding: 4px 8px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.search-cart-wrap:hover .search-cart-list {
  display: block;
}

.search-cart-list {
  position: absolute;
  top: calc(100% + 5px);
  right: 40px;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
  display: none;
  animation: fadeIn ease 0.3s;
  cursor: pointer;
}

.search-cart-list--no-fill {
  padding: 24px 0;
  cursor: default;
}

.search-cart-list--no-fill .cart--no-fill-img,
.search-cart-list--no-fill .cart--no-fill-msg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cart--no-fill-img {
  width: 50%;
  display: none;
}

.cart--no-fill-msg {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-top: 14px;
  display: none;
}

/* Has cart */
.cart-header {
  text-align: left;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
  margin: 12px 0 0 12px;
}

.cart-body-list {
  padding-left: 0px;
  list-style: none;
  max-height: 50vh;
  overflow-y: auto;
}

.cart-item {
  display: flex;
}

.cart-item:hover {
  background-color: #f8f8f8;
}

.cart-item-img {
  width: 42px;
  height: 42px;
  margin: 12px;
  border: 1px solid #e8e8e8;
}

.cart-item-info {
  width: 100%;
  margin-right: 12px;
}

.cart-item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0;
}

.cart-item-name {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
  width: 195px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cart-item-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}

.cart-item-multi {
  font-size: 1rem;
  margin: 0 4px;
  color: #757575;
}

.cart-item-quantity {
  font-size: 1.2rem;
  font-weight: 500;
  color: #757575;
}

.cart-item-content {
  display: flex;
  justify-content: space-between;
}

.cart-item-dsc {
  font-size: 1.25rem;
  color: #757575;
}

.cart-item-delete {
  font-size: 1.4rem;
  color: var(--text-color);
}

.cart-item-delete:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.cart-view-btn {
  float: right;
  margin: 0 12px 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-view-btn:hover {
  background-color: #fb6445;
}

/* Selection */
.search-select-option {
  position: absolute;
  background-color: var(--white-color);
  right: 0;
  top: 125%;
  width: 156px;
  border-radius: 2px;
  list-style: none;
  padding: 0;
  box-shadow: 0 3px 5px rgb(224, 223, 223);
  display: none;
  animation: fadeIn ease 0.3s;
}

.search-select-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.search-select-item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.search-select-item {
  padding: 10px 8px;
  text-align: right;
  display: flex;
  justify-content: space-between;
}

.search-select-item:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.search-select-item span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 8px;
}

.search-select-item i {
  font-size: 1.4rem;
  font-weight: 650;
  color: var(--primary-color);
  margin: 0 4px 0 12px;
  display: none;
}

.search-select--active i {
  display: inline-block;
}

/* Search History */
.search-history {
  position: absolute;
  top: 110%;
  width: calc(100% - 20px);
  left: 0;
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 5px #e0e0e0;
  overflow: hidden;
  display: none;
  overflow-y: auto;
  max-height: 30rem;
}

.search-input:focus ~ .search-history {
  display: block;
}

.search-history-heading {
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
  margin: 10px 12px;
}

.search-history-list {
  padding-left: 0;
  list-style: none;
  margin: 6px 0 0;
}

.search-history-item {
  height: 38px;
  padding: 0 12px;
}

.search-history-item:hover {
  background-color: #f7f7f7;
}

.search-history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 38px;
  display: block;
}

/* Soft-bar */
.soft-bar {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  background-color: var(--white-color);
  height: 46px;
  list-style: none;
  margin: 0;
  padding-left: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: none;
}

.soft-bar-item {
  flex: 1;
}

.soft-bar-item--active .soft-bar-link {
  color: var(--primary-color);
}

.soft-bar-item--active .soft-bar-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  background-color: var(--primary-color);
  border-radius: 6px;
}

.soft-bar-item:first-child .soft-bar-link::before {
  display: none;
}

.soft-bar-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  line-height: 46px;
  text-align: center;
  position: relative;
}

.soft-bar-link::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 60%;
  border-left: 1px solid #e5e5e5;
}

.soft-bar-icons {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: #777;
  margin-left: 8px;
}

/* Container */

.container {
  background-color: #f5f5f5;
}

.container__body {
  padding-top: 36px;
}

.category {
  background-color: var(--white-color);
  border-radius: 2px;
}

.category-heading {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text-color);
  padding: 12px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 0;
  text-transform: uppercase;
}

.category-heading-icon {
  font-size: 1.6rem;
  font-weight: 500;
  margin-right: 4px;
  position: relative;
  top: 1px;
}

.category-list {
  padding: 0 0 8px 0;
  list-style: none;
  margin-left: 10px;
}

.category-item--active .category-item-link {
  color: var(--primary-color);
}

.category-item--active .category-item-link::before {
  content: "";
  position: absolute;
  border: 5px solid;
  border-color: transparent transparent transparent var(--primary-color);
  top: 50%;
  transform: translateY(-50%);
  left: -6px;
}

.category-item-link {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  display: block;
  padding: 8px 16px;
  margin-left: 14px;
  transition: right linear 0.1s;
  right: 0;
}

.category-item-link:hover {
  right: -5px;
  color: var(--primary-color);
}
/* Mobile category */
.category-mobile-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  max-width: 100%;
  overflow-x: auto;
}

.category-mobile-list::-webkit-scrollbar {
  display: none;
}

.category-mobile-item {
  flex-shrink: 0;
  margin-right: 10px;
}

.category-mobile-item:nth-of-type(3n + 1) .category-mobile-item-link {
  background-color: #87afd8;
}

.category-mobile-item:nth-of-type(3n + 2) .category-mobile-item-link {
  background-color: #76c9bd;
}

.category-mobile-item:nth-of-type(3n + 3) .category-mobile-item-link {
  background-color: #88cf81;
}

.category-mobile-item-link {
  --line-height: 2rem;
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
  line-height: var(--line-height);
  overflow: hidden;
  width: 110px;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  border-radius: 4px;
  padding: 0 4px;
  user-select: none;
  -webkit-user-select: none;
  min-height: calc(var(--line-height) * 2);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Home filter */
.home-filter {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 12px 22px;
  border-radius: 2px;
  position: relative;
  z-index: 1;
}

.home-filter__label {
  color: #555555;
  font-size: 1.4rem;
  margin-right: 16px;
}

.home-filter__btn {
  min-width: 90px;
  margin-right: 12px;
}

.home-page {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.home-page-num {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-right: 22px;
}

.home-page-current {
  color: var(--primary-color);
}

.home-page-control {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
}

.home-page-btn {
  flex: 1;
  display: flex;
  background-color: var(--white-color);
  text-decoration: none;
}

.home-page-btn:first-child {
  border-right: 1px solid #eee;
}

.home-page-btn--disabled {
  background-color: #f9f9f9;
  cursor: default;
}

.home-page-btn--disabled .home-page-icon {
  color: #ccc;
  font-weight: 300;
}

.home-page-icon {
  font-size: 1.4rem;
  color: #555;
  margin: auto;
}

/* Product */
.product-item {
  display: block;
  text-decoration: none;
  position: relative;
  background-color: var(--white-color);
  margin-top: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  transition: top linear 1s;
  will-change: transform;
}

.product-item:hover {
  top: -1px;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

.product-img {
  padding-top: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.product-name {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
  height: 3.6rem;
  overflow: hidden;
  color: var(--text-color);
  margin: 10px 10px 6px 10px;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.product-price {
  display: flex;
  flex-wrap: wrap;
  line-height: 24px;
}

.product-price--old {
  font-size: 1.4rem;
  color: #666;
  text-decoration: line-through;
  margin-left: 10px;
}

.product-price--new {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-left: 10px;
}

.product-action {
  display: flex;
  justify-content: space-between;
  margin: 8px 10px 0;
}

.product-action--like {
  font-size: 1.4rem;
}

.product-action--liked .product--like-icon {
  color: rgb(226, 81, 81);
  font-weight: 600;
}

.product-action--rating {
  font-size: 1.2rem;
  transform: scale(0.7);
  transform-origin: right;
  color: #c0bdbd;
  margin-left: auto;
}

.product--rating-gold {
  color: #ffce3e;
}

.product-action--sold {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 4px;
}

.product-origin {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin: 10px 10px 0;
}

.product-local,
.product-brand {
  color: #595959;
  font-weight: 300;
  font-size: 1.2rem;
}

.product-favourite {
  position: absolute;
  top: 10px;
  left: -4px;
  color: var(--primary-color);
  background-color: currentColor;
  font-size: 1.2rem;
  font-weight: 450;
  line-height: 18px;
  padding-right: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.product-favourite::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -3px;
  border-left: 3px solid transparent;
  border-top: 3px solid currentColor;
  filter: brightness(60%);
}

.product-favourite i {
  color: var(--white-color);
  font-weight: 700;
  margin-left: 4px;
  margin-right: 2px;
}

.product-favourite-title {
  color: var(--white-color);
}

.product-sale-off {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 36px;
  text-align: center;
  background-color: rgba(255, 216, 64, 0.94);
  text-align: center;
  border-top-right-radius: 2px;
}

.product-sale-off::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  border-width: 0 20px 4px;
  border-style: solid;
  border-color: transparent rgba(255, 216, 64, 0.94);
}

.product-sale-off__per {
  position: relative;
  color: #ee4d2d;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.2rem;
  top: 2px;
}

.product-sale-off__label {
  color: var(--white-color);
  font-weight: 500;
  font-size: 1.2rem;
}

/* Pagination */
.home-pagination {
  margin-top: 48px;
  margin-bottom: 32px;
}

/* Footer */
.footer {
  border-top: 4px solid var(--primary-color);
  padding-top: 16px;
  background-color: var(--white-color);
}

.footer-heading {
  font-size: 1.5rem;
  min-height: 40px;
  line-height: 22px;
  text-transform: uppercase;
  color: #666;
}

.footer-list {
  padding-left: 0;
  list-style: none;
}

.footer-item_link {
  text-decoration: none;
  font-size: 1.3rem;
  color: #737373;
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.footer-item_link:hover {
  color: var(--primary-color);
}

.footer-item__icon {
  font-size: 1.6rem;
  font-weight: 500;
  margin-right: 8px;
  margin-top: -3px;
}

.footer-download {
  display: flex;
}

.footer-download-qr {
  width: 80px;
  object-fit: contain;
  border: 1px solid rgb(233, 229, 229);
}

.footer-download-qr:hover {
  cursor: pointer;
}

.footer-download-apps {
  flex: 1;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-download--ggplay {
  height: 18px;
}

.footer-download--appstore {
  height: 18px;
}

.footer-download-apps__link {
  text-decoration: none;
  color: transparent;
  display: block;
  padding: 4px 0;
}
.footer-bottom {
  padding: 10px 0;
  background-color: #f5f5f5;
  margin-top: 32px;
}

.footer-copyright {
  margin: 0;
  font-size: 1.4rem;
  text-align: center;
  color: #737373;
}
